nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to 'Матричный фильтр', root_path, class: 'navbar-brand'
    ul.nav.navbar-nav
      li
        = link_to 'Добавить изображение', new_image_path
