= simple_form_for image, wrapper: :vertical_input_group, html: { id: 'image_form' } do |form|

  - if form.error_notification
    .alert.alert-danger[role="alert"]
      = form.error_notification


  .form-inputs
    = form.input :name
    .container.col-md-12#image_file_pic_container style=(image.file.exists? ? '' : 'display: none')
      = image_tag (image.file.exists? ? image.file.url(:default) : ''), alt: 'Изображение, которое будет сохранено', class: 'dynamic-image'

    = form.input :file, as: :file
    = form.button :submit
