.row.col-sm-6.col-md-4
  .thumbnail
    = link_to edit_image_path(image), class: "thumbnail #{(image.processed_image.present? ? 'with_fade' : '')}"  do
      = image_tag image.file.url(:default), alt: image.name
      - if image.processed_image.present?
        = image_tag image.processed_file_url, alt: image.name, class: 'processed_image'

    .caption
      h3 #{image.name}
      p
        = link_to 'Обработать иображение', process_image_path(image), method: :post
      p
        = link_to 'Редактировать изображение', edit_image_path(image)
      p
        = link_to 'Удалить иображение', image_path(image), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить изображение?'}
