// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.with_fade {

  & img:last-child {
    position: absolute;
    top: 10px;
    left: 40px;
    display: none;
  }
}
