- @images.each do |image|
  = render partial: 'images/partials/image_list_item', locals: {image: image}
- unless @images.present?
  h2
    | Ни одного изоражения не наидено, но вы можете
    =<> link_to 'создать', new_image_path
    | новое